@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --title-color: #f2f2f2;
  --text-color: #bfbfbf;
  --container-color: #212121;
  --container-color-alt: #181616;
  --body-color: #2b2b2b;
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;
}

body {
  background-color: var(--body-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
}
*, button, input {
  border: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
}

h1,h2,h3,ul,p {
  margin: 0;
}

h1,h2,h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--h2-font-size);
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 8rem;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);

}

.main-content {
  height: 75%;
  width: 75%;
  background-color: white;
}

.main-list {
  height: 110%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.list-item {
  padding: 9px;
  margin: 8px 0 8px 0;
  text-align: center;
  background-color: blue;
  width: 100%;
}

.list-item a {

}
