@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --title-color: #f2f2f2;
  --text-color: #bfbfbf;
  --container-color: #212121;
  --container-color-alt: #181616;
  --body-color: #2b2b2b;
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;
  --text-shadow: rgb(204 51 204 / 50%) 5px 0px 2px, rgb(51 204 166 / 50%) -4px 0px 5px, rgb(92 135 214) 5px 0px 10px;
}

body {
  background-color: var(--body-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
}
*, button, input {
  border: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
}

h1,h2,h3,ul,p {
  margin: 0;
}

h1,h2,h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
  text-shadow: var(--text-shadow);
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--h2-font-size);
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  /* justify-content: center; */
  /* background-color: #1c1b1a; */
  background-image: linear-gradient(62deg, #461b35 12%, #20496c 100%);
}

.my-photo {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}

.main-content {
  height: 75%;
  width: 75%;
  background-color: white;
}

#main-section {
  /* min-height: ; */
  height: auto;
  max-height: 100%;
  max-width: 968px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  background-color: #af387b;
  border-radius: 20px;
}

.list-item {
  padding: 9px;
  margin: 8px 0 8px 0;
  text-align: center;
  border-radius: 50px;
  width: 90%;
  background-color: #2E3337;
}
